Welcome to dimension.sh, ${username},

your password is "${password}". please change it when you log in for
the first time by running the passwd command. the password is used for 
any services that require a password, but not your shell login.

your ~/public_html directory is served at https://dimension.sh/~${username}/

If you have any questions or problems, mail 'root@dimension.sh' and we'll get
back to you as soon as we can.

Enjoy!

nikdoof
